@import url(https://fonts.googleapis.com/css2?family=Inter);

body {
    font-family: Inter;
    margin: 0;
}

.main--day, .main--night {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main--day {
    background-color: white;
    color: black;
}

.main--night {
    color: white;
    background-color: #404258;
}

footer {
    font-size: smaller;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    background-color: inherit;
}

.footer--day {
    color: black;
}

.footer--night {
    color: white;
}

.footer--icons--day, .footer--icons--night {
    display: flex;
    gap: 10px;
    font-size: 32px;
    margin: 0px 8px;
}

.footer--icons--day > a {
    color: black;
}

.footer--icons--day > a:hover {
    color: grey;
}

.footer--icons--night > a {
    color: white;
}

.footer--icons--night > a:hover {
    color: grey;
}

.calculator {
    max-width: 500px;
    min-width: 400px;
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.calculator--screen--day, .calculator--screen--night {
    padding: 10px;
    font-size: 32px;
    border: 1px solid black;
    border-radius: 10px;
}

.calculator--screen--day {
    background-color: white;
}

.calculator--screen--night {
    background-color: #474E68;
}

.calculator--screen--input {
    margin: 0;
    min-height: 50px;
    font-size: 32px;
    cursor: default;
    outline: none;
    border-radius: 10px;
    overflow-x: scroll;    
}

.calculator--screen--output {
    min-height: 40px;
    margin: 0;
    text-align: right;
}

.calculator--input {
    display: flex;
    padding: 20px 10px;
    gap: 5px;
}

.calculator button {
    font-size: 20px;
    width: 90px;
    height: 60px;
    border: none;
    border-radius: 10px;
}

.number-row--day, .number-row--night {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.number-row--day > button {
    color: black;
    background-color: #ebebeb;
}

.number-row--day > button:hover {
    color: black;
    background-color: #c5c5c5;
}

.number-row--day > button:active {
    color: black;
    background-color: #6b6b6b;
}

.number-row--night > button {
    color: white;
    background-color: #474E68;
}

.number-row--night > button:hover {
    color: white;
    background-color: #525a79;
}

.number-row--night > button:active {
    color: white;
    background-color: #7985b1;
}

header {
    display: flex;
    justify-content: space-between;
}

.header--day {
    color: black;
}

.header--night {
    color: white;
}

.header--tabcontainer {
    display: flex;
    gap: 10px;
}

.header--tab--day, .header--tab--night {
    border: none;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    margin-bottom: 10px;
}

.header--tab--day {
    color: black;
    border-bottom: 5px solid lightgray;
}

.header--tab--day:hover {
    border-bottom: 5px solid grey;
}

.header--tab--day:active {
    border-bottom: 5px solid black;
}

.header--tab--night {
    color: white;
    border-bottom: 5px solid grey;
}

.header--tab--night:hover {
    border-bottom: 5px solid lightgrey;
}

.header--tab--night:active {
    border-bottom: 5px solid white;
}

article {
    margin: 10px;
}

.header--toggle {
    margin: 5px;
}

.error-box {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: rgb(255, 40, 40);
    font-size: 20px;
    padding: 10px;
}

.error-box > p {
    margin: 10px;
    font-weight: bold;
}

.error--icon {
    align-self: flex-end;
    font-size: small;
}

.error--icon:hover {
    color: rgb(219, 219, 219);
}

.error--icon:active {
    color: rgb(126, 126, 126);
}
