@import url(https://fonts.googleapis.com/css2?family=Inter);

body {
    font-family: Inter;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.calculator {
    width: 400px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
}

.calculator--screen {
    padding: 20px;
    font-size: 32px;
    border: 1px solid black;
    cursor: default;
    outline: none;
}

.calculator--input {
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 20px 10px;
    gap: 20px;
}

.calculator--numbers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calculator button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.number-row {
    display: flex;
    gap: 10px;
}

.calculator--functions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calculator--functions > button {
    width: 35px;
    height: 35px;
    background-color: #999999;
}

.calculator--functions > button:hover {
    background-color: #acacac;
}

.calculator--functions > button:active {
    background-color: #6e6e6e;
}

.calculator--controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator--controls > button {
    width: 70px;
}

