@import url(https://fonts.googleapis.com/css2?family=Inter);

body {
    font-family: Inter;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.calculator {
    max-width: 500px;
    min-width: 400px;
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

footer {
    font-size: smaller;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer--icons {
    display: flex;
    gap: 10px;
    font-size: 32px;
    margin: 0px 5px;
}

.footer--icons > a {
    color: black;
}

.footer--icons > a:hover {
    color: grey;
}

.calculator--screen {
    padding: 20px;
    font-size: 32px;
    border: 1px solid black;
    cursor: default;
    outline: none;
    border-radius: 10px;
}

.calculator--input {
    display: flex;
    padding: 20px 10px;
    gap: 5px;
}

.calculator button {
    font-size: 20px;
    width: 90px;
    height: 60px;
    border: none;
    border-radius: 10px;
}

.number-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.calculator--functions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.calculator--functions > button {
    width: 90px;
    height: 60px;
    font-size: 24px;
    background-color: #999999;
}

.calculator--functions > button:hover {
    background-color: #acacac;
}

.calculator--functions > button:active {
    background-color: #6e6e6e;
}

.calculator--controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.calculator--controls > button {
    width: 70px;
}
